<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
         <h2>authers</h2>
         <h3><%= auther.auther %></h3>
         <img class="auther_img" src="<%= auther.img %>"/>
         <p class="book_des"><%= auther.about %></p>
    </main>
</body>
</html>