<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
         <h2>authers</h2>
        <ul>
            <% authers.forEach(function(auther) { %>
            <li>
                <img class="auther_img"src="<%= auther.img %>"/>
                <a href="/authers/<%= auther.id %>"><%= auther.auther %></a>
             </li>
             <% }) %>
         </ul>
    </main>
</body>
</html>