<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
         <h2>Our Books</h2>
         <h3><%= book.name %></h3>
         <img class="book_img" src="<%= book.img %>"/>
         <p class="book_des"><%= book.about %></p>
    </main>
</body>
</html>